name: Java CI with JUnit 5

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v2

      - name: Configurar Java
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: "adopt"

      - name: Verificar ubicación
        run: |
          dir
          ls
        working-directory: ../../Console_Gym/tests/*.java 

      - name: Compilar y ejecutar pruebas
        run: |
          # Compilar el código fuente y las pruebas desde el directorio raíz del proyecto
          javac -cp .:../../Console_Gym/src/**/*.java ../../Console_Gym/tests/*.java 
        working-directory: ../../tests/

      - name: Verificar ubicación
        run: |
          pwd
          ls
        working-directory: ../../tests/

      - name: Ejecutar pruebas JUnit 5
        run: |
          # Ejecutar las pruebas JUnit 5 desde el directorio raíz del proyecto
          java -cp .: org.junit.platform.console.ConsoleLauncher --select-package tests
        working-directory: ../../Console_Gym/tests/

      - name: Publicar informes de prueba
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: build/test-results
