name: Java CI with JUnit 5

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v2

      - name: Configurar Java
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: "adopt"

      - name: Ejecutar pruebas con Gradle
        run: |
          # Configurar Gradle Wrapper (si no está configurado)
          chmod +x gradlew
          
          # Ejecutar pruebas JUnit 5
          ./gradlew test
        working-directory: Console_Gym\tests  # Reemplaza con la ruta correcta a tu proyecto

      - name: Publicar informes de prueba
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: path/to/your/project/build/test-results
