name: Java CI with JUnit 5

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v2

      - name: Configurar Java
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: "adopt"

      - name: Descargar JUnit Platform Console Launcher
        run: |
          # Especifica la versi贸n de JUnit 5 que deseas descargar
          JUNIT_VERSION=5.9.3

          # Descarga JUnit Platform Console Standalone JAR
          wget https://repo.maven.apache.org/maven2/org/junit/platform/junit-platform-console-standalone/$JUNIT_VERSION/junit-platform-console-standalone-$JUNIT_VERSION.jar -O junit-platform-console-standalone.jar
        env:
          JUNIT_VERSION: 5.9.3 # Reemplaza con la versi贸n de JUnit 5 que deseas utilizar

      - name: Compilar y ejecutar pruebas
        run: |
          # Compilar el c贸digo fuente y las pruebas
          javac -cp .:/ruta/a/tus/librerias/*.jar src/*.java tests/*.java

          # Ejecutar las pruebas JUnit 5
          java -cp .:/ruta/a/tus/librerias/*.jar:./junit-platform-console-standalone.jar org.junit.platform.console.ConsoleLauncher --select-package tests

      - name: Publicar informes de prueba
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: build/test-results
