name: Java CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código
      uses: actions/checkout@v2

    - name: Configurar Java
      uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: 'adopt'

    - name: Compilar el proyecto
      run: javac -cp .:path/to/junit.jar src/*.java  # Ajusta la ruta según la ubicación de tus archivos fuente

    - name: Ejecutar pruebas
      run: java -cp .:path/to/junit.jar:path/to/hamcrest-core.jar org.junit.runner.JUnitCore TestModel  # Reemplaza YourTestClass con el nombre de tu clase de prueba   